body {
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  margin: auto;
}
td {
  padding: 1rem;
  border: none;
}

.invoice {
  cursor: pointer;
}

.selected {
  background-color: #ffcae1;
}
